body {
    background-color: #f0f0f5;
}

.dropbtn {
    font-size: 20px;
    background-color: #6A5ACD;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 1;
    padding: 10px;
    border-radius: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #98FB98;
    min-width: 200px;
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #00008B;
}

.dropdown-content a:hover {
    background-color: #ADD8E6;
}

.show {
    display: block;
}

button {
    margin-top
